*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body{
    height: 100%;
    width: 100%;
    font-family: monospace;
}

:root{
    --x : 100px;
    --y : 100px;
}

main{
    height: 100%;
    width: 100%;
}

.section{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(150px at var(--x) var(--y) , white, black) ;
}

p{
    font-size: 4rem;
}