*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html ,.body{
    height: 100%;
    width: 100%;
    background-color: black;
}

body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    height: 250px;
    width: 400px;
   border-radius: 10px;
   border: 3px solid black;
   background-color: rgb(236, 236, 236);
   padding: 30px;
}

.card p{
text-align: center;
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 500;
  font-family: monospace;
}

.card p span{
    font-weight: 600;
  color: royalblue;
}

.card #outer{
    height: 20px;
    width: 100%;
    background-color: gray;
    border-radius: 50px;
}

#inner{
    height: 100%;
    width: 0%;
    border-radius: 50px;
    background-color: green;
}


.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.bottom h2{
  font-size: 60px;
  font-family: monospace;
}

.bottom button{
  padding: 12px 25px;
  background-color: green;
  color: white;
  border-radius: 5px;
  font-size: 18px;

  font-weight: 600;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  z-index: 9;
}

.bottom button:active{
  scale: 0.95;
}

h2{
  white-space: nowrap;
}