*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html ,body{
    height: 100%;
    width: 100%;
    background-color: aquamarine;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#card{
    height: 400px;
    width: 600px;
    background-color: aliceblue;
    border-radius: 40px;
    box-shadow: 0 4px 12px rgb(25, 24, 24);
  overflow: hidden;
}

#card #top{
    position: relative;
    background-image: url(https://i.pinimg.com/1200x/b2/80/e6/b280e6218bb2212aa6098bfa175dc360.jpg);
   background-size: cover;
  background-position: top;
    width: 100%;
    height: 55%;
}
#card #top::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;  
    background: inherit;    
    filter: blur(26px);      
    transform: scale(1.1);    
}

#card #top #profile-pic{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: blue;
    position: absolute;
    bottom: 6%;
    left: 4%;
    overflow: hidden;
    z-index: 10;
}

#profile-pic img {
  box-shadow: 0 4px 20px rgba(0,0,0,0.25);
}


#card #bottom{
    height: 100%;
    width: 100%;
}

#bottom #up{
    height: 95px;
    width: 100%;    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
 
     font-family:monospace;

}
.one{
    font-size: 12px;
font-weight: 400;
}

#bottom #down{
    height: 50%;
    width: 100%;
    background-color: red;
}

.bottom-info{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.box{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.box h3{
    font-size: 18px;
    font-weight: 600;
    color: #111;
}

.box p{
      font-size: 15px;
    font-weight: 400;
    color: #777;
    margin-top: 4   px;
}

.divider {
    width: 2px;        
    height: 40px;     
    background-color: #cfcfcf;
   margin-bottom: 8px;
}

.btn{
    padding: 15px 40px;
    border-radius: 40px;
    background-color: black;
    color: #fff;
    font-size: 16px;
}

.btn:hover{
    transform: scale(1.04);
  background:transparent;
  color: #111;
}