*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: black;
    font-family: monospace;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

/* Animate variable */
@property --rotate {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotateBorder {
    from { --rotate: 0deg; }
    to   { --rotate: 360deg; }
}

/* CARD */
.card{
    height: 430px;
    width: 300px;

    border-radius: 14px;
    overflow: hidden;

    padding: 4px;  /* IMPORTANT */

    background:
        linear-gradient(black, black) padding-box,
        conic-gradient(from var(--rotate), red, black, red) border-box;

    animation: rotateBorder 4s  infinite;

    box-shadow: 0 0 40px red;
    display: flex;
    flex-direction: column;
}

/* IMAGE */
.card img{
    width: 100%;
    height: 260px;
    object-fit: contain;
    background: black;
}

/* CONTENT */
.content{
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.content h2{
    font-size: 22px;
    font-weight: bold;
}
.content p{
    font-size: 14px;
    opacity: .9;
}
