*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: black;
    font-family: monospace;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

/* Animate variable */
@property --rotate {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotateBorder {
    from { --rotate: 0deg; }
    to   { --rotate: 360deg; }
}

.card{
    max-width: 300px;
    padding-inline: 10px;
    padding-bottom: 10px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
  background:
        linear-gradient(black) padding-box,
        conic-gradient(from var(--rotate),  black, red , black) border-box;
  border: 0px solid rgba(255,255 ,255 ,0);
    animation: rotateBorder 2s  linear infinite;
    box-shadow: 0 0 0px rgb(255, 0, 157);
    animation-play-state: paused;
    transition: all ease 0.2s;

    /* bloom effect */
    text-shadow: 0 0 0px white;
}

.card:hover{
    animation-play-state: running;
    /* normally bhi de sakte hai lekin yeh bhi ek tarika hai border ka */
    border-width: 5px;
      box-shadow: 0 0 60px rgb(255, 0, 157);
         text-shadow: 0 0 5px black;
         transform:scale(1.1);
}

.card img{
    width: 100%;
    height: 260px;
    object-fit: contain;
}
